body{
    color: blue;
    background-color:aqua ;
    font-family: Arial, Helvetica, sans-serif
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none ;
    padding: 16px;
}
a{
    color:blue;
    text-decoration:  none;
    img{}
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}
.center{
    text-align: center;
    
}
h1{color: green;}
footer img{
    width: 40px;
    height: 40px;}

   footer{
    display: flex;
    justify-content: center;
    }
    footer a {
      margin: 20px;
      text-align: center;
    }
.container{
    padding: 0px 50px;
}
nav a:hover{
color: green}



